# Supabase Configuration
# Copia este archivo a .env y completa con tus credenciales reales
VITE_SUPABASE_ANON_KEY=sb_publishable_K4Ii_Zk1B8-OKL9Fa9_LMQ_jbn0lk2m
VITE_SUPABASE_URL=https://ooiklfrvtokofzomzksu.supabase.co
VITE_SUPABASE_STORAGE_BUCKET=tu_bucket_name
